@-webkit-keyframes bounce {
  /* line 22, _animations.sass */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }

  /* line 24, _animations.sass */
  15% {
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    opacity: 0.5; }

  /* line 27, _animations.sass */
  85% {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    opacity: 1; }

  /* line 30, _animations.sass */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-moz-keyframes bounce {
  /* line 22, _animations.sass */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }

  /* line 24, _animations.sass */
  15% {
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    opacity: 0.5; }

  /* line 27, _animations.sass */
  85% {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    opacity: 1; }

  /* line 30, _animations.sass */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-ms-keyframes bounce {
  /* line 22, _animations.sass */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }

  /* line 24, _animations.sass */
  15% {
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    opacity: 0.5; }

  /* line 27, _animations.sass */
  85% {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    opacity: 1; }

  /* line 30, _animations.sass */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes bounce {
  /* line 22, _animations.sass */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }

  /* line 24, _animations.sass */
  15% {
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    opacity: 0.5; }

  /* line 27, _animations.sass */
  85% {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    opacity: 1; }

  /* line 30, _animations.sass */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-webkit-keyframes scroll {
  /* line 34, _animations.sass */
  0% {
    background-position: 0 0; }

  /* line 36, _animations.sass */
  100% {
    background-position: 0 99999px; } }

@-moz-keyframes scroll {
  /* line 34, _animations.sass */
  0% {
    background-position: 0 0; }

  /* line 36, _animations.sass */
  100% {
    background-position: 0 99999px; } }

@-ms-keyframes scroll {
  /* line 34, _animations.sass */
  0% {
    background-position: 0 0; }

  /* line 36, _animations.sass */
  100% {
    background-position: 0 99999px; } }

@keyframes scroll {
  /* line 34, _animations.sass */
  0% {
    background-position: 0 0; }

  /* line 36, _animations.sass */
  100% {
    background-position: 0 99999px; } }

@-webkit-keyframes wobble {
  /* line 40, _animations.sass */
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }

  /* line 42, _animations.sass */
  10% {
    -webkit-transform: translate(3px, 0);
    -moz-transform: translate(3px, 0);
    -o-transform: translate(3px, 0);
    transform: translate(3px, 0); }

  /* line 44, _animations.sass */
  20% {
    -webkit-transform: translate(2px, 3px);
    -moz-transform: translate(2px, 3px);
    -o-transform: translate(2px, 3px);
    transform: translate(2px, 3px); }

  /* line 46, _animations.sass */
  30% {
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px); }

  /* line 48, _animations.sass */
  40% {
    -webkit-transform: translate(-2px, 1px);
    -moz-transform: translate(-2px, 1px);
    -o-transform: translate(-2px, 1px);
    transform: translate(-2px, 1px); }

  /* line 50, _animations.sass */
  50% {
    -webkit-transform: translate(-4px, -3px);
    -moz-transform: translate(-4px, -3px);
    -o-transform: translate(-4px, -3px);
    transform: translate(-4px, -3px); }

  /* line 52, _animations.sass */
  60% {
    -webkit-transform: translate(-1px, -6px);
    -moz-transform: translate(-1px, -6px);
    -o-transform: translate(-1px, -6px);
    transform: translate(-1px, -6px); }

  /* line 54, _animations.sass */
  70% {
    -webkit-transform: translate(3px, -2px);
    -moz-transform: translate(3px, -2px);
    -o-transform: translate(3px, -2px);
    transform: translate(3px, -2px); }

  /* line 56, _animations.sass */
  80% {
    -webkit-transform: translate(5px, 4px);
    -moz-transform: translate(5px, 4px);
    -o-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }

  /* line 58, _animations.sass */
  90% {
    -webkit-transform: translate(3px, 1px);
    -moz-transform: translate(3px, 1px);
    -o-transform: translate(3px, 1px);
    transform: translate(3px, 1px); }

  /* line 60, _animations.sass */
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-moz-keyframes wobble {
  /* line 40, _animations.sass */
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }

  /* line 42, _animations.sass */
  10% {
    -webkit-transform: translate(3px, 0);
    -moz-transform: translate(3px, 0);
    -o-transform: translate(3px, 0);
    transform: translate(3px, 0); }

  /* line 44, _animations.sass */
  20% {
    -webkit-transform: translate(2px, 3px);
    -moz-transform: translate(2px, 3px);
    -o-transform: translate(2px, 3px);
    transform: translate(2px, 3px); }

  /* line 46, _animations.sass */
  30% {
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px); }

  /* line 48, _animations.sass */
  40% {
    -webkit-transform: translate(-2px, 1px);
    -moz-transform: translate(-2px, 1px);
    -o-transform: translate(-2px, 1px);
    transform: translate(-2px, 1px); }

  /* line 50, _animations.sass */
  50% {
    -webkit-transform: translate(-4px, -3px);
    -moz-transform: translate(-4px, -3px);
    -o-transform: translate(-4px, -3px);
    transform: translate(-4px, -3px); }

  /* line 52, _animations.sass */
  60% {
    -webkit-transform: translate(-1px, -6px);
    -moz-transform: translate(-1px, -6px);
    -o-transform: translate(-1px, -6px);
    transform: translate(-1px, -6px); }

  /* line 54, _animations.sass */
  70% {
    -webkit-transform: translate(3px, -2px);
    -moz-transform: translate(3px, -2px);
    -o-transform: translate(3px, -2px);
    transform: translate(3px, -2px); }

  /* line 56, _animations.sass */
  80% {
    -webkit-transform: translate(5px, 4px);
    -moz-transform: translate(5px, 4px);
    -o-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }

  /* line 58, _animations.sass */
  90% {
    -webkit-transform: translate(3px, 1px);
    -moz-transform: translate(3px, 1px);
    -o-transform: translate(3px, 1px);
    transform: translate(3px, 1px); }

  /* line 60, _animations.sass */
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-ms-keyframes wobble {
  /* line 40, _animations.sass */
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }

  /* line 42, _animations.sass */
  10% {
    -webkit-transform: translate(3px, 0);
    -moz-transform: translate(3px, 0);
    -o-transform: translate(3px, 0);
    transform: translate(3px, 0); }

  /* line 44, _animations.sass */
  20% {
    -webkit-transform: translate(2px, 3px);
    -moz-transform: translate(2px, 3px);
    -o-transform: translate(2px, 3px);
    transform: translate(2px, 3px); }

  /* line 46, _animations.sass */
  30% {
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px); }

  /* line 48, _animations.sass */
  40% {
    -webkit-transform: translate(-2px, 1px);
    -moz-transform: translate(-2px, 1px);
    -o-transform: translate(-2px, 1px);
    transform: translate(-2px, 1px); }

  /* line 50, _animations.sass */
  50% {
    -webkit-transform: translate(-4px, -3px);
    -moz-transform: translate(-4px, -3px);
    -o-transform: translate(-4px, -3px);
    transform: translate(-4px, -3px); }

  /* line 52, _animations.sass */
  60% {
    -webkit-transform: translate(-1px, -6px);
    -moz-transform: translate(-1px, -6px);
    -o-transform: translate(-1px, -6px);
    transform: translate(-1px, -6px); }

  /* line 54, _animations.sass */
  70% {
    -webkit-transform: translate(3px, -2px);
    -moz-transform: translate(3px, -2px);
    -o-transform: translate(3px, -2px);
    transform: translate(3px, -2px); }

  /* line 56, _animations.sass */
  80% {
    -webkit-transform: translate(5px, 4px);
    -moz-transform: translate(5px, 4px);
    -o-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }

  /* line 58, _animations.sass */
  90% {
    -webkit-transform: translate(3px, 1px);
    -moz-transform: translate(3px, 1px);
    -o-transform: translate(3px, 1px);
    transform: translate(3px, 1px); }

  /* line 60, _animations.sass */
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes wobble {
  /* line 40, _animations.sass */
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }

  /* line 42, _animations.sass */
  10% {
    -webkit-transform: translate(3px, 0);
    -moz-transform: translate(3px, 0);
    -o-transform: translate(3px, 0);
    transform: translate(3px, 0); }

  /* line 44, _animations.sass */
  20% {
    -webkit-transform: translate(2px, 3px);
    -moz-transform: translate(2px, 3px);
    -o-transform: translate(2px, 3px);
    transform: translate(2px, 3px); }

  /* line 46, _animations.sass */
  30% {
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px); }

  /* line 48, _animations.sass */
  40% {
    -webkit-transform: translate(-2px, 1px);
    -moz-transform: translate(-2px, 1px);
    -o-transform: translate(-2px, 1px);
    transform: translate(-2px, 1px); }

  /* line 50, _animations.sass */
  50% {
    -webkit-transform: translate(-4px, -3px);
    -moz-transform: translate(-4px, -3px);
    -o-transform: translate(-4px, -3px);
    transform: translate(-4px, -3px); }

  /* line 52, _animations.sass */
  60% {
    -webkit-transform: translate(-1px, -6px);
    -moz-transform: translate(-1px, -6px);
    -o-transform: translate(-1px, -6px);
    transform: translate(-1px, -6px); }

  /* line 54, _animations.sass */
  70% {
    -webkit-transform: translate(3px, -2px);
    -moz-transform: translate(3px, -2px);
    -o-transform: translate(3px, -2px);
    transform: translate(3px, -2px); }

  /* line 56, _animations.sass */
  80% {
    -webkit-transform: translate(5px, 4px);
    -moz-transform: translate(5px, 4px);
    -o-transform: translate(5px, 4px);
    transform: translate(5px, 4px); }

  /* line 58, _animations.sass */
  90% {
    -webkit-transform: translate(3px, 1px);
    -moz-transform: translate(3px, 1px);
    -o-transform: translate(3px, 1px);
    transform: translate(3px, 1px); }

  /* line 60, _animations.sass */
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-webkit-keyframes travel {
  /* line 65, _animations.sass */
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0); }

  /* line 67, _animations.sass */
  100% {
    -webkit-transform: rotate(-45deg) translate(-130px, -100px);
    -moz-transform: rotate(-45deg) translate(-130px, -100px);
    -o-transform: rotate(-45deg) translate(-130px, -100px);
    transform: rotate(-45deg) translate(-130px, -100px); } }

@-moz-keyframes travel {
  /* line 65, _animations.sass */
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0); }

  /* line 67, _animations.sass */
  100% {
    -webkit-transform: rotate(-45deg) translate(-130px, -100px);
    -moz-transform: rotate(-45deg) translate(-130px, -100px);
    -o-transform: rotate(-45deg) translate(-130px, -100px);
    transform: rotate(-45deg) translate(-130px, -100px); } }

@-ms-keyframes travel {
  /* line 65, _animations.sass */
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0); }

  /* line 67, _animations.sass */
  100% {
    -webkit-transform: rotate(-45deg) translate(-130px, -100px);
    -moz-transform: rotate(-45deg) translate(-130px, -100px);
    -o-transform: rotate(-45deg) translate(-130px, -100px);
    transform: rotate(-45deg) translate(-130px, -100px); } }

@keyframes travel {
  /* line 65, _animations.sass */
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0); }

  /* line 67, _animations.sass */
  100% {
    -webkit-transform: rotate(-45deg) translate(-130px, -100px);
    -moz-transform: rotate(-45deg) translate(-130px, -100px);
    -o-transform: rotate(-45deg) translate(-130px, -100px);
    transform: rotate(-45deg) translate(-130px, -100px); } }
